<button {{action 'previous'}}>
 -
</button>

{{!-- <button {{action 'zoomOut'}}>
  {{#if (eq interval 'day')}}
    {{moment-format selection 'MMMM'}}
  {{else if (eq interval 'month')}}
    {{moment-format selection 'YYYY'}}
  {{else if (eq interval 'year')}}
    {{decade-range momentRange}}
  {{/if}}
</button> --}}

<button {{action 'next'}}>
  +
</button>


{{!-- the given selector will go here --}}


{{!-- is-selected=(contains-moment (get selection '[]') moment interval) --}}
