<button {{action 'previous'}}>
 -
</button>

<button {{action zoom-out}}>
  {{#if (eq interval 'year')}}
    {{log momentRange}}
    {{moment-format (get range 'firstObject') 'YYYY'}}
  {{/if}}
  {{!-- if decade selector -- needs to show date range --}}
  {{moment-format selected format}}
</button>

<button {{action 'next'}}>
  +
</button>


{{#if (eq interval 'day')}}
  <ol>
    <li class="eui-nameofday">Sun</li>
    <li class="eui-nameofday">Mon</li>
    <li class="eui-nameofday">Tue</li>
    <li class="eui-nameofday">Wed</li>
    <li class="eui-nameofday">Thu</li>
    <li class="eui-nameofday">Fri</li>
    <li class="eui-nameofday">Sat</li>
  </ol>
{{/if}}

<ol>
  {{#each momentRange as |moment|}}
    {{eui-interval
      moment=moment
      interval=interval
      click=(action on-select interval)
      is-selected=(contains-moment (get selection '[]') moment interval)
    }}
  {{/each}}
</ol>
