
{{!--
<button {{action 'monthPicker'}}>
  {{moment-format month 'MMMM'}}

</button> --}}

{{#if (eq visible 'year-picker')}}
  {{!-- {{previous-next
    interval='decade'
    on-next=(action 'nextDecade')
    on-previous=(action 'previousDecade')
  }} --}}
  {{!-- eui-decade component  --}}
{{else if (eq visible 'month-picker')}}
  {{!-- {{previous-next
    interval='year'
    on-next=(action 'nextYear')
    on-previous=(action 'previousYear')
    on-zoom-out=(action 'showDecade')
  }} --}}
  {{!-- {{eui-year year=year selection=month}} --}}
{{else}}
  {{!-- {{previous-next
    interval='month'
    on-next=(action 'nextMonth')
    on-previous=(action 'previousMonth')
    on-zoom-out=(action 'showYear')
  }} --}}
  {{#eui-month month=month as |day|}}
    {{eui-day
      tagName="li"
      day=day
      is-disabled=(not (moment-same-month month day))
      click=(action (mut selection) day)
      is-selected=(eq selection day)
    }}
  {{/eui-month}}
{{/if}}
